.container {
    width: 75%;
    margin: auto; /* Center the container */
    padding: 20px;
    box-sizing: border-box;
}

.data-stream, .logs {
    width: 100%; /* Fill the container */
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#graphContainer {
    height: 400px; /* Set a fixed height for the graph container */
}

canvas#dataGraph {
    width: 100%;
    height: 100%;
}
